<a href="https://colab.research.google.com/github/Anish1302D/SY-Computer-Science-DS/blob/main/calculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

Options

In [ ]:
choice = int(input("Enter choice: "))

Enter choice: 3

Selecting operation

In [ ]:
match choice:
    case 1:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
        print("Result: ", num1 + num2)

    case 2:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
        print("Result: ", num1 - num2)

    case 3:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
        print("Result: ", num1 * num2)

    case 4:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if num2 == 0:
            print("Error! Cannot divide by zero.")
        else:
            print("Result: ", num1 / num2)

    case _:
        print("Invalid choice!")

Enter first number: 3
Enter second number: 2
Result:  6.0

Doing operations as prompted by the user